<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd" default-lazy-init="true">
	<description>MyBatis为不同的mapper注入sqlSessionFactory</description>
    <!-- Mapper的管理及注入 -->
    <bean id="taoBaoAreaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="masterSqlSessionFactory" />
        <property name="mapperInterface" value="com.msymobile.www.commons.dao.master.TaoBaoAreaMapper" />
    </bean>
    <bean id="countryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="masterSqlSessionFactory" />
        <property name="mapperInterface" value="com.msymobile.www.commons.dao.master.CountryMapper" />
    </bean>
    <bean id="regionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="masterSqlSessionFactory" />
        <property name="mapperInterface" value="com.msymobile.www.commons.dao.master.RegionMapper" />
    </bean>
    <bean id="cityMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="masterSqlSessionFactory" />
        <property name="mapperInterface" value="com.msymobile.www.commons.dao.master.CityMapper" />
    </bean>
    <bean id="spMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="masterSqlSessionFactory" />
        <property name="mapperInterface" value="com.msymobile.www.commons.dao.master.SPMapper" />
    </bean>
    <bean id="ipMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="masterSqlSessionFactory" />
        <property name="mapperInterface" value="com.msymobile.www.commons.dao.master.IPMapper" />
    </bean>
</beans>